/*
	by Adil Hanney
	more information at https://adil.hanney.org/repo/rvalues_css.php
*/

$small-width: 768px !default;
$medium-width: 992px !default;
$large-width: 1500px !default;

$min: min !default;
$small: small !default;
$medium: medium !default;
$large: large !default;
$print: print !default;

$COLS: r !default;
$PERCENTS: p !default;
$ITEMS: i !default;
$AUTOS: a !default;
$DISPLAYS: D !default;

$Rclasses: null !default; // upkeeps legacy code that doesn't use the .R class


@mixin genCols($size) {
	@for $w from 0 through 1 {
		$WH: if($w > 0, "X", "Y");
		$widthheight: if($w > 0, "width", "height");
		
		@for $i from 0 through 12 {
			$el: ".#{$WH}#{$COLS}#{$size}#{$i}";
			$Rclasses: append($Rclasses, $el, comma) !global;
			#{$el} {
				#{$widthheight}: 100% / 12 * $i;
				#{$widthheight}: calc(#{100% / 12 * $i} - 1px);
			}
		}
	}
}
@mixin genPercents($size) {
	@for $w from 0 through 1 {
		$WH: if($w > 0, "X", "Y");
		$widthheight: if($w > 0, "width", "height");
		
		@for $i from 0 through 100 {
			@if $i % 10 == 0 or $i < 10 or $i > 90 {
				$el: ".#{$WH}#{$PERCENTS}#{$size}#{$i}";
				$Rclasses: append($Rclasses, $el, comma) !global;
				#{$el} {
					#{$widthheight}: 1px;
					#{$widthheight}: 1% * $i;
					#{$widthheight}: calc(#{1% * $i} - 1px);
				}
			}
		}
	}
}
@mixin genItems($size) {
	@for $w from 0 through 1 {
		$WH: if($w > 0, "X", "Y");
		$widthheight: if($w > 0, "width", "height");
		
		$el: ".#{$WH}#{$ITEMS}#{$size}0";
		$Rclasses: append($Rclasses, $el, comma) !global;
		#{$el} {
			#{$widthheight}: 0;
		}
		@for $i from 1 through 12 { // max 12 but can have any number
			$el: ".#{$WH}#{$ITEMS}#{$size}#{$i}";
			$Rclasses: append($Rclasses, $el, comma) !global;
			#{$el} {
				#{$widthheight}: 100% / $i;
				#{$widthheight}: calc(#{100% / $i} - 1px);
			}
		}
	}
}
@mixin genAutos($size) {
	@for $w from 0 through 1 {
		$WH: if($w > 0, "X", "Y");
		$widthheight: if($w > 0, "width", "height");
		
		$el: ".#{$WH}#{$AUTOS}#{$size}";
		$Rclasses: append($Rclasses, $el, comma) !global;
		#{$el} {
			#{$widthheight}: initial;
			#{$widthheight}: auto;
		}
	}
}
@mixin genDisplays($size) {
	$displays: ("block", "inline-block", "inline", "flex", "grid", "none");
	@each $display in $displays {
		$el: ".#{$DISPLAYS}#{$size}-#{$display}"; // e.g. Dmin-block
		#{$el} {
			display: #{$display};
		}
	}
}






$x: append(".R", $Rclasses, comma);
#{$x} {
	display: inline-block !important;
	position: relative;
	padding: 10px 15px;
	vertical-align: top;
}

.R.R-compact {
	padding: 0.1rem;
	padding: min(0.1rem, 5px);
}

@media screen {
	.screenonly, .noprint { display: block !important; }
	.printonly, .noscreen { display: none !important; }

	button.screenonly, a.screenonly, span.screenonly,
	button.noprint, a.noprint, span.noprint {
		display: inline-block !important;
	}
}
@media print {
	.screenonly, .noprint { display: none !important; }
	.printonly, .noscreen { display: block !important; }

	button.printonly, a.printonly, span.printonly,
	button.noscreen, a.noscreen, span.noscreen {
		display: inline-block !important;
	}

	/* stop url links printing on anchor tags */
	a[href]:after {
		display: none !important;
		visibility: hidden !important;
		opacity: 0 !important;
	}
}

* {
	scroll-behavior: smooth;
	transition: all 0.1s ease-in-out;
}
.Rparent {
	font-size: 0;
}
.Rparent > * {
	font-size: initial;
}
.Rparent:after {
	display: table;
	content: "";
	clear: both;
}

$size: $min;
@include genCols($size);
@include genPercents($size);
@include genItems($size);
@include genAutos($size);
@include genDisplays($size);

@media (min-width: $small-width) {
	$size: $small;
	@include genCols($size);
	@include genPercents($size);
	@include genItems($size);
	@include genAutos($size);
	@include genDisplays($size);
}
@media (min-width: $medium-width) {
	$size: $medium;
	@include genCols($size);
	@include genPercents($size);
	@include genItems($size);
	@include genAutos($size);
	@include genDisplays($size);
}
@media (min-width: $large-width) {
	$size: $large;
	@include genCols($size);
	@include genPercents($size);
	@include genItems($size);
	@include genAutos($size);
	@include genDisplays($size);
}
@media print {
	$size: $print;
	@include genCols($size);
	@include genPercents($size);
	@include genItems($size);
	@include genAutos($size);
	@include genDisplays($size);
}
