:root {
	--item-rotation: 0deg;
	--zoomed-diameter: 100vw;
	--zoomed-diameter: calc(100vw + 100vh);
	/*noinspection CssInvalidFunction*/
	--zoomed-diameter: max(100vw, 100vh);
}

a.item {
	display: block;
	text-decoration: none;
}

@media print {
	.item {
		break-inside: avoid-page;
	}
}

.alert {
	border: 1px solid red;
	padding: 1em;
	border-radius: 0.5em;
}


@keyframes zoomIn {
	0% {
		z-index: 50;
		width: 0;
		height: 0;
	}
	100% {
		z-index: 50;
		width: var(--zoomed-diameter);
		height: var(--zoomed-diameter);
	}
}
@keyframes zoomOut {
	0% {
		z-index: 50;
		width: var(--zoomed-diameter);
		height: var(--zoomed-diameter);
	}
	100% {
		z-index: 50;
		width: 0;
		height: 0;
	}
}